<% provide(:title, "Contacts") %>
<!DOCTYPE html>
<html>
<head>
	<title>RoR | <%= yield(:title) %> </title>
</head>
<body>
<h1>It's our contacts</h1>
<p>You won't find us anyway...</p>


</body>
</html>