<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title>RoR home</title>
</head>
<body>

<h1>Sample App</h1>
<p>
	!@#!@$ The <a hred = "http://google.com">best</a> tutorial atm.
</p>

</body>
</html>